{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}


{% block content %}
    {% trans "Sign In" as heading %}
    {% #container heading=heading  %}
    {% translate "Enter Sign-In Code" %}
    <div class="">
        {% blocktranslate %}We’ve sent a code to <a href="mailto:{{ email }}">{{ email }}</a>. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    </div>
    {% url 'account_confirm_login_code' as login_url %}
    {% #form form=form url=url button_text=heading %}
        <div class="items-start form-control">
        </div>
        {{ redirect_field }}
        {% csrf_token %}
    {% /form %} 

    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-neutral">Cancel</button>
    </form>

    {% /container %}
{% endblock content %}
