{% extends 'base.html' %} 
{% block content %}

<h2>Available Time Slots by Date</h2>

{% for date, slots in time_slots_by_date %}
  <h3 class="text-4xl text-gray-800">{{ date }}</h3>

  <ul>
    {% for slot in slots %}
      <li>{{ slot.start_time }} - {{ slot.end_time }}</li>
    {% empty %}
      <li>No available slots on this date.</li>
    {% endfor %}
  </ul>

{% empty %}

  <p>No available time slots.</p>

{% endfor %} 

<div id="calendar" class="max-w-[800px] mx-auto max-h-[600px] overflow-auto mt-10 mb-10"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      contentHeight: 'auto', 
      aspectRatio: 1.5,
      eventTimeFormat: { // Like '14:30'
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: '{% url "appointments:event_list" %}',
      eventClick: function(info) {
        alert('Event: ' + info.event.title);
      }
    });
    calendar.render();
  });
</script>

<style>
  .fc {
    font-size: 0.85em; /* Use this custom class for reducing font size inside the calendar */
  }
</style>

{% endblock content %}
