{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="bg-white dark:bg-gray-900 mx-auto">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <form class="py-3" action="{% url 'appointments:create_multiple_timeslots' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            {% comment %} {{ form.start_date|as_crispy_field }}
            {{ form.days_to_create|as_crispy_field }}
            {{ form.slot_duration|as_crispy_field }} {% endcomment %}
            <button type="submit" class="my-3 btn btn-primary">Confirm?</button>
        </form>
    </div>
</section>

{% endblock content %}