{% load i18n %}
{% load static %}
{% load compress %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book My Barber</title>

    {% compress css %} 
      {% include 'css.html' %} 
    {% endcompress %}
  </head>

  <body>
    {% include 'navbar.html' %}
    {% block content %} 
    
    {% endblock content %}
  </body>
    {% include 'js.html' %}
</html>
