{% load static %}

<script src="{% static 'vendors/flowbite.min.js' %}"></script>
<script src="{% static 'vendors/htmx.min.js' %}"></script>
<script src="{% static 'vendors/fullcalendar.min.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script> {% endcomment %}

<script>
  
  document.addEventListener('DOMContentLoaded', () => {
    const acceptModal = document.getElementById('acceptAppointmentModal');
    const deleteTimeslotModal = document.getElementById('deleteTimeslotModal');
    const rejectModal = document.getElementById('rejectAppointmentModal');
    
    const targetButton = document.getElementById('acceptAppointmentCloseModal');
    const targetButton = document.getElementById('deleteTimeslotCloseModal');
    const rejectTargetButton = document.getElementById('rejectAppointmentCloseModal');

    acceptModal.addEventListener('click', (event) => {
      if (event.target && event.target.id === 'acceptAppointmentCancelButton') {
        targetButton.click(); // Close the modal
      }
    });
    deleteTimeslotModal.addEventListener('click', (event) => {
      if (event.target && event.target.id === 'deleteTimeslotCancelButton') {
        targetButton.click(); // Close the modal
      }
    });

    rejectModal.addEventListener('click', (event) => {
      if (event.target && event.target.id === 'rejectAppointmentCancelButton') {
        rejectTargetButton.click(); // Close the modal
      }
    });
  });

</script>

